<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Книги о Гарри Поттере издательства РОСМЭН, а также товары и многое другое. </title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>


        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    </head>
    <body>
        {% block header %}
            <header class="col-sm-12">
                <div class="header_wrap">
                    <a href="{% url 'index' %}" class="header_logo">
                        <img class="img-logo-main" src="{% static 'img/logo.png' %}" alt="BIBA">
                    </a>
                    <nav class="menu_top-desctop">
                        <ul class="sidebar-nav">
                            <li class="sidebar-nav_item">
                                <a href="{% url 'delivery' %}" class="sidebar-nav_link">Доставка и оплата</a>
                            </li>
                            <li class="sidebar-nav_item">
                                <a href="{% url 'sales' %}" class="sidebar-nav_link">Акции</a>
                            </li>
                            <li class="sidebar-nav_item">
                                <a href="{% url 'reviews' %}" class="sidebar-nav_link">Отзывы</a>
                            </li>
                            <li class="sidebar-nav_item">
                                <a href="{% url 'contacts' %}" class="sidebar-nav_link">Контакты</a>
                            </li>
                            <li class="sidebar-nav_item">
                                <a href="{% url 'cart' %}" class="sidebar-nav_link">Корзина</a>
                            </li>
                            <li>
                                <form method='GET' action="{% url 'search_view' %}">
                                    <div class="search-wrapper">
                                        <div class="input-holder">
                                            <input type="text" class="search-input" placeholder="Поиск..." name="q"/>
                                        </div>
                                        <span class="close" onclick="searchToggle(this, event);"></span>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </nav>
                    <nav class="menu_top-mobile">
                        <p class="open_menu">Меню <i class="fas fa-angle-down"></i></p>
                        <form method='GET' action="{% url 'search_view' %}">
                            <div class="search-wrapper">
                                <div class="input-holder">
                                    <input type="text" class="search-input" placeholder="Поиск..." name="q"/>
                                </div>
                                <span class="close" onclick="searchToggle(this, event);"></span>
                            </div>
                        </form>
                    </nav>
                </div>
            </header>
            <div class="menu_mobile-hidden">
                <a href="{% url 'delivery' %}" class="menu_mobile_link">Доставка и оплата</a>
                <a href="{% url 'sales' %}" class="menu_mobile_link">Акции</a>
                <a href="{% url 'reviews' %}" class="menu_mobile_link">Отзывы</a>
                <a href="{% url 'contacts' %}" class="menu_mobile_link">Контакты</a>
                <a href="{% url 'cart' %}" class="menu_mobile_link">Корзина</a>
            </div>
        {% endblock header %}
        <div class="container">
            <div class="row">
                <div class="title">
                    <h1 class="garry">Добро пожаловать в мир Гарри Поттера</h1>
                    <p class="main-text">На сайте вы можете приобрести продукцию связанную с Гарри Поттером, включая книги, одежду, аксессуары, канцелярские принадлежности и многое другое.</p>
                </div>
                {% block sidebar %}
                    <div class="sidebar col-sm-3">
                        <ul class="sidebar-list">
                            <li class="sidebar-list-item highlighted">
                                <a href="{% url 'books' %}" class="sidebar-list-link garry">Книги</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'books_rosman' %}" class="sidebar-list-link">Книги РОСМЭН</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'books_eng' %}" class="sidebar-list-link">Книги на английском</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'books_textbooks' %}" class="sidebar-list-link">Учебники Хогвартса</a>
                            </li>
                        </ul>
                        <ul class="sidebar-list">
                            <li class="sidebar-list-item highlighted">
                                <a href="{% url 'merch_clothes' %}" class="sidebar-list-link garry">Одежда</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_clothes_hats' %}" class="sidebar-list-link">Шапки</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_clothes_scarves' %}" class="sidebar-list-link">Шарфы</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_clothes_gloves' %}" class="sidebar-list-link">Перчатки</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_clothes_ties' %}" class="sidebar-list-link">Галстуки</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_clothes_caps' %}" class="sidebar-list-link">Кепки</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_clothes_sweaters' %}" class="sidebar-list-link">Кофты</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_clothes_mantle' %}" class="sidebar-list-link">Мантии</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_clothes_socks' %}" class="sidebar-list-link">Носки</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_clothes_tshirts' %}" class="sidebar-list-link">Футболки</a>
                            </li>
                        </ul>
                        <ul class="sidebar-list">
                            <li class="sidebar-list-item highlighted">
                                <a href="#" class="sidebar-list-link garry">Волшебные палочки</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_stand_stick' %}" class="sidebar-list-link">Палочки со стандартным сердечником</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_metal_stick' %}" class="sidebar-list-link">Палочки с металлическим сердечником</a>
                            </li>
                        </ul>
                        <ul class="sidebar-list">
                            <li class="sidebar-list-item highlighted">
                                <a href="{% url 'merch_accessories' %}" class="sidebar-list-link garry">Аксессуары</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_accessories_figurines' %}" class="sidebar-list-link">Фигурки</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_accessories_pendants' %}" class="sidebar-list-link">Кулоны</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_accessories_notebooks' %}" class="sidebar-list-link">Блокноты</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_accessories_bracelet' %}" class="sidebar-list-link">Браслеты</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_accessories_wallet' %}" class="sidebar-list-link">Бумажники</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_accessories_bookmark' %}" class="sidebar-list-link">Закладки</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_accessories_rings' %}" class="sidebar-list-link">Кольца</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_accessories_mugs' %}" class="sidebar-list-link">Кружки</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_accessories_watches' %}" class="sidebar-list-link">Наручные часы</a>
                            </li>
                            <li class="sidebar-list-item">
                                <a href="{% url 'merch_accessories_pencil_cases' %}" class="sidebar-list-link">Пеналы</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-mobile">
                        <p class="sidebar-mobile_open">Каталог</p>
                        <div class="sidebar-mobile-hidden">
                            <a href="{% url 'books' %}" class="sidebar-mobile-link garry">Книги</a>
                            <a href="{% url 'merch_clothes' %}" class="sidebar-mobile-link garry">Одежда</a>
                            <a href="#" class="sidebar-mobile-link garry">Волшебные палочки</a>
                            <a href="{% url 'merch_accessories' %}" class="sidebar-mobile-link garry">Аксессуары</a>
                        </div>
                    </div>
                {% endblock sidebar%}
                <div class="col-sm-9 main_content">
                    <div id="qq"></div>
                    {% block content %}<!-- default content text-->{% endblock %}
                </div>

        {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% endblock %}
            </div>
        </div>



    
<div id="modal_cart">
    <button class="close_modal">
        <i class="fas fa-times"></i>
    </button>
    <form class="wrap_basket_table">
        <div class="top_line_basket_table">
            <span class="name_column_mob_version">Товары</span>
            <span class="name_product_column">Наименование</span>
            <span class="price_product_column">Цена за шт.</span>
            <span class="count_product_column">Количество</span>
            <span class="sum_product_column">Сумма</span>
        </div>
        {% for item in items %}
            <div class="line_basket_table">
                <div class="product">
                    <div class="name">
                        <div class="image_product">
                            <img src="{{ MEDIA_URL }}{{ item.thumbnail.url }}" alt="">
                        </div>
                        <div class="name_text">
                            <a href="#" class="title_descr_product">{{ item.title }}</a>
                            <div class="art">Артикул: 01350622</div>
                        </div>
                    </div>
                    <div class="price_product">
                        <span class="price">{{ item.price }} <i class="fas fa-ruble-sign"></i></span>
                    </div>
                    <div class="navigation_count_product">
                        <button id="minus" type="button" class="minus" pk={{ item.id }} data-url="{% url 'delete_item' item.id %}" title="Уменьшить на 1 единицу товара">-</button>
                        <input type="text" value={{ item.quantity }} name="count" class="count_product" id="count_product">
                        <button id="plus" type="button" class="plus" pk={{ item.id }} data-url="{% url 'add_to_cart' item.id %}" title="Увеличить на 1 единицу товара">+</button>
                        {% csrf_token %}
                        {% if not item.genre %}<input type="hidden" value="True" name="merch" class="merchandise">{% endif %}
                    </div>
                    <div class="sum_box">
                        <span class="name_column_mob_version">Сумма <i class="fas fa-ruble-sign"></i>:</span>
                        <span class="summa">{{ item.total_price }}</span>
                    </div>
                </div>
                <a href="{% url 'delete_item' item.id %}" class="remove_product" title="Удалить товар из корзины">
                    X
                </a>
            </div> 
        {% endfor %}
        <div class="summa_box">
            <span class="title_result_list_item items_number">В корзине находится {{ cart.count }} предметов</span>
            <span class="title_result_list_item">К оплате:</span>
            <span class="value_result_list_item summa_all">{{ cart.summary }} <i class="fas fa-ruble-sign"></i></span>
        </div>
        <div class="like_main">
            <div class="top_line_basket_table">
                <span class="name_column_mob_version">Товары</span>
                <span class="name_product_column">Наименование</span>
                <span class="price_product_column">Цена за шт.</span>
                <span class="count_product_column">Количество</span>
                <span class="sum_product_column">Сумма</span>
            </div>
            {% for item in random_choice %}
                <div class="product">
                    <div class="name">
                        <div class="image_product">
                            <img src="{{ MEDIA_URL }}{{ item.thumbnail.url }}" alt="">
                        </div>
                        <div class="name_text">
                            <a href="#" class="title_descr_product">{{ item.title }}</a>
                            <div class="art">Артикул: 01350622</div>
                        </div>
                    </div>
                    <div class="price_product">
                        <span class="price">{{ item.price }} <i class="fas fa-ruble-sign"></i></span>
                    </div>
                    <div class="navigation_count_product recomendation_btn">
                        <div class="count_product_input">
                            <button id="minus" type="button" class="minus_detail" pk={{ item.id }} data-url="{% url 'delete_item' item.id %}" title="Уменьшить на 1 единицу товара">-</button>
                            <input type="text" value="1" name="count" class="count_product_detail" id="count_product">
                            <button id="plus" type="button" class="plus_detail" pk={{ item.id }} data-url="{% url 'add_to_cart' item.id %}" title="Увеличить на 1 единицу товара">+</button>
                            {% if not item.genre %}<input type="hidden" value="True" name="merch" class="merchandise">{% endif %}
                        </div>
                        <div class="count_product_input_add">
                            <button type="button" pk={{ item.id }} data-url="{% url 'add_to_cart' item.id %}" title="Добавить в корзину" name="buy_btn" id="buybtn" class="add_to_basket_modal">
                                Добавить в корзину
                            </button>
                            {% csrf_token %}
                        </div>
                        <div class="item_added">
                            <p>Товар успешно</p>
                            <p>добавлен в корзину</p>
                            <a href="{% url 'cart' %}">Перейти в корзину</a>
                        </div>
                    </div>
                    <div class="sum_box">
                        <span class="name_column_mob_version">Сумма <i class="fas fa-ruble-sign"></i>:</span>
                        <span class="summa_like">{{ item.price }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="btns_table_line">
            <a href="{% url 'clear_cart' %}" class="btns_table_line_sub" title="Очистить корзину">
                Очистить корзину
            </a>
            <button type="button" class="continue btns_table_line_sub">
             Продолжить покупки
            </button>
            <a href="{% url 'cart' %}" class="btns_table_line_sub">Оформить заказ</a>
        </div>
    </div>
    </form>
</div>
<div id="overlay"></div>
<footer class="col-sm-12">
    
    <div class="footer_contact">
        
        <div class="footer_nav">
            <nav>
                <ul class="sidebar-nav_footer">
                    <li class="sidebar-nav_item">
                        <a href="{% url 'delivery' %}" class="sidebar-nav_link"><i class="fas fa-circle"></i>Доставка и оплата</a>
                    </li>
                    <li class="sidebar-nav_item">
                        <a href="{% url 'sales' %}" class="sidebar-nav_link"><i class="fas fa-circle"></i>Акции</a>
                    </li>
                    <li class="sidebar-nav_item">
                        <a href="{% url 'reviews' %}" class="sidebar-nav_link"><i class="fas fa-circle"></i>Отзывы</a>
                    </li>
                    <li class="sidebar-nav_item">
                        <a href="{% url 'contacts' %}" class="sidebar-nav_link"><i class="fas fa-circle"></i>Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="email">
            <p class="email_text"><i class="far fa-envelope"></i>E-mail:</p>
            <a href="mailto:info@test.ru" class="email_link contact_link">info@test.ru</a>
        </div>
        <div class="tel">
            <p class="tel_text"><i class="fas fa-mobile-alt"></i>Телефон:</p>
            <a href="tel:88002222222" class="tel_link contact_link">88002222222</a>
        </div>
        <div class="social">
            <p class="social_text">Мы в социальных сетях:</p>
            <div class="social_block">
                <a href="#" class="social_link contact_link"><i class="fab fa-vk"></i><span class="vk">Вконтакте</span></a>
                <a href="#" class="social_link contact_link"><i class="fab fa-instagram"></i><span class="instagram">Инстаграм</span></a>
                <a href="#" class="social_link contact_link"><i class="fab fa-twitter-square"></i><span class="twitter">Твиттер</span></a>
            </div>
        </div>
        <span class="product-item-price-current">$35</span>
        <span class="product-item-price-current">$55</span>
        <span class="product-item-price-current">$75</span>
        <span class="product-item-price-current">$80</span>
    </div>
    <div class="copyright">
        <p>© 2019 Platform.ru</p>
    </div>
</footer>
    {% block javascript %}
    {% endblock javascript%}
    <script src="{% static 'js/slick_slider_base_generic.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/add_to_cart.js' %}"></script>
    <script src="{% static 'js/cart.js'%}"></script>
    <script src="{% static 'js/fetchDollarPureCart.js' %}"></script>
    <script>
        $('.open_menu').click(function() {
            $('.menu_mobile-hidden').toggle();
        });
        $('.sidebar-mobile_open').click(function() {
            $('.sidebar-mobile-hidden').toggle();
        })
    </script>

    </body>
</html>