{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="contacts">
    <h1 class="garry">Контакты</h1>
    <div class="contacts_text">
        <p><span class="bold">ИП: </span>Григорьев Алексей Маркович</p>
        <p><span class="bold">ОГРНИП </span>316784700059670</p>
        <p><span class="bold">ИНН </span>780728129881</p>
        <p><span class="bold">Адрес магазина: </span>г.Москва, ул.Багратионовская, д.38</p>
        <p><span class="bold">Телефон: </span>8(495)777-38-38</p>
        <p><span class="bold">Email: </span>shop@platform.ru</p>
        <p><span class="bold">Время работы магазина: </span>Ежедневно с 10:00 до 20:00</p>
        <p><span class="bold">Ближайшая станция метро: </span>Багратионовская</p>
        <p><span class="bold">Адрес магазина: </span>г.Москва, ул.Багратионовская, д.38</p>
    </div>
</div>


{% endblock %}

{% block javascript %}

{% endblock javascript%}