{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="delivery_block">
    <h1 class="garry">Доставка и оплата</h1>
    <div class="delivery-pickup">
        <h2>Самовывоз в Москве</h2>
        <p>Вы можете забрать свой заказ по адресу Москва, ул. Багратионовская, д.38</p>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d794.0502236432844!2d37.5011532514549!3d55.74263727444208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549573e292073%3A0xed7ee9db9e01249d!2z0JHQsNCz0YDQsNGC0LjQvtC90L7QstGB0LrQuNC5INC_0YAt0LQsIDM4LCDQnNC-0YHQutCy0LAsIDEyMTA4Nw!5e0!3m2!1sru!2sru!4v1547217272548" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
    </div>
    <hr class="delivery_line">
    <div class="delivery-pickup">
        <h2>Самовывоз в Санкт-Петербурге</h2>
        <p>Вы можете забрать свой заказ по адресу Санкт-Петербург, ул. Невский проспект, д.15</p>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.7581638058555!2d30.31615731609695!3d59.93615498187527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631054543dcdf%3A0x97f5bb16775b1adb!2z0J3QtdCy0YHQutC40Lkg0L_RgC4sIDE1LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMTg2!5e0!3m2!1sru!2sru!4v1547217456895" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
    </div>
    <hr class="delivery_line">
    <div class="delivery-pickup">
        <h2>Курьерская доставка по Москве и Санкт-Петербургу (в пределах Кад и Мкад) </h2>
        <p>400 руб. Оплата при получении только наличными!</p> 
        <p>Безналичный расчет только при оплате заказа на нашем сайте из корзины.</p>
        <p>Срок доставки - доставим в течении 2-3 дней с момента оформления заказа</p>
    </div>
    <hr class="delivery_line">
    <div class="delivery-post">
        <h2>Доставка по России</h2>
        <p><i class="fas fa-circle"></i>Срок доставки 6-12 дней, доставляется на ближайшее отделение почты России по вашему адресу. Оплата при получении.</p>
        <p><i class="fas fa-circle"></i>Почта ЕМС (2-4 дня) доставляется курьером до двери. Оплата при получении.</p>
        <p><i class="fas fa-circle"></i>Сдэк самовывоз (2-4 дня) доставляется на ближайший склад Сдэк по вашему адресу. Полная предоплата.</p>
        <p><i class="fas fa-circle"></i>Сдэк курьерская доставка до двери (2-5 дней). Полная предоплата.</p>
        <p class="delivery-post_price">Стоимость доставки рассчитывается индивидуально исходя из веса и дальности отправления</p>
    </div>
</div>


{% endblock %}

{% block javascript %}

{% endblock javascript%}