{% extends 'base_generic.html' %}
{% load static %}

{% block content %}

    
<h2 class="slider-title garry">Книги</h2>
    <section class="slider">
        {% if available_books %}
            {% for book in available_books %}
                <div class="slider-item">
                    <a href="{{ book.get_absolute_url }}"><img class="thumbnails" src="{{ MEDIA_URL }}{{ book.thumbnail.url }}" alt=""></a>
                    <p class="slider-text">{{ book.title }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no books in the library.</p>
        {% endif %}
    </section>
            <h2 class="slider-title garry">Товары</h2>
    <section class="slider">
        {% if available_merchandise %}
            {% for merch in available_merchandise %}
                <div class="slider-item">
                    <a href="{{ merch.get_absolute_url }}"><img class="thumbnails" src="{{ MEDIA_URL }}{{ merch.thumbnail.url }}" alt=""></a>
                    <p class="slider-text">{{ merch.title }}
                </div>
            {% endfor %}
        {% else %}
            <p>There are no merchandise.</p>
        {% endif %}
    </section>
    <p>You have visited this page {{ num_visits }}{% if num_visits == 1%} time{% else %} times{% endif %}.</p>
{% endblock %}

{% block javascript %}

{% endblock javascript%}
