{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="reviews">
    <h1 class="garry">Отзывы</h1>
    <div class="review_block">
        {% if reviews %}
            {% for review in reviews %}
            <img class="review_block-img" src="{{ MEDIA_URL }}{{ review.avatar.url }}" alt="">
            <div class="review_block-text">
                <p>{{ review.name }}</p>
                <p>{{ review.review }}</p>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>


{% endblock %}

{% block javascript %}

{% endblock javascript %}