{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="sales">
    <h1 class="garry">Акции</h1>
    <div class="sales_block">
        {% if sales %}
            {% for sale in sales %}
                <p class="sales_block-title">{{ sale.title }}</p>
                <p>{{ sale.description }}</p>
                <img src="{{ MEDIA_URL }}{{ sale.image.url }}" alt="">
            {% endfor %}
        {% endif %}
    </div>
    <hr class="sales_block-line">
</div>


{% endblock %}

{% block javascript %}

{% endblock javascript %}