{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/order_registration.css' %}">
    <h1>Оформление заказа</h1>

    <form class="personal_data_form" id="personal_data_form" action="">
        <div class="step-two">
            <div class="steps_block">
                <div class="steps_active">
                    <p class="text">1</p>
                    <p class="title">Доставка</p>
                </div>
                <div class="steps_active">
                    <p class="text">2</p>
                    <p class="title">Личные данные</p>
                </div>
                <div class="steps_nonactive">
                    <p class="text">3</p>
                    <p class="title">Подтверждение</p>
                </div>
            </div>

            <div class="contact_form row">
                <div class="contact_form_personal col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label">ФИО</label>
                        <input id="fio" class="form-control" type="text" name="name" required="required">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Телефон</label>
                        <input id="phone" type="text" class="form-control" placeholder="+7(   )" name="phone">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Адрес доставки</label>
                        <input id="address" type="text" class="form-control" placeholder="" name="address">
                    </div>
                </div>
                <div class="contact_form_comment col-12 col-md-6">
                    <label class="control-label">Комментарий к заказу</label>
                    <textarea name="comment" class="comment" id="comment" cols="31" rows="5"></textarea>
                </div>
                <div class="distribution col-12">
                    <label>
                        <input type="checkbox" name="distribution-check" class="distribution-check" id="distribution-check" checked>
                        <span class="distribution-check_custom">Хочу получать рассылку о новинках и акциях</span>
                    </label>
                </div>
            </div>

            <div class="sum_block">
                <p>
                    <span class="title">Сумма заказа</span>
                    <span class="dotted"></span>
                    <span class="text">114 500 руб.</span>
                </p>
                <p>
                    <span class="title">Сумма доставки</span>
                    <span class="dotted"></span>
                    <span class="text">500 руб.</span>
                </p>
                <p class="result">
                    Итого: 115 000 руб.
                </p>
            </div>

            <div class="btns_block">
                <a href="#" class="continue">
                    <img src="img/left-arrow.png" alt=""> К предыдущему шагу
                </a>
                <div>
                    <input type="submit" value="Далее" class="btn">
                    <p class="personal_data_processing">Оформляя заказ вы соглашаетесь с обработкой персональных данных,
                        согласно федеральному закону N152-ФЗ от 27 июля 2006 г.
                    </p>
                </div>
            </div>
        </div>
    </form>


{% endblock %}

{% block javascript %}

{% endblock javascript %}