{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/order_registration.css' %}">
    <h1>Оформление заказа</h1>

    <form class="selected_city_form wrap_delivery_containers" id="selected_city_form" action="">
        <div class="step-one">
            <div class="steps_block">
                <div class="steps_active">
                    <p class="text">1</p>
                    <p class="title">Доставка</p>
                </div>
                <div class="steps_nonactive">
                    <p class="text">2</p>
                    <p class="title">Личные данные</p>
                </div>
                <div class="steps_nonactive">
                    <p class="text">3</p>
                    <p class="title">Подтверждение</p>
                </div>
            </div>

            <div class="delivery_standart">
                <h2>Стандартная доставка</h2>
                <div class="delivery_list_item_wrap">
                    <label class="delivery_list_item">
                        <input type="radio" name="delivery-radio" class="delivery-radio">
                        <span class="radio_custom"></span>
                        <span class="open_link">
                            Курьерская доставка в пределах МКАД и КАД
                        </span>
                    </label>
                    <div class="list-checked">
                        <p>
                            <span class="title">Стоимость доставки</span>
                            <span class="dotted"></span>
                            <span class="text">400 руб.</span>
                        </p>
                        <p>
                            <span class="title">Итого</span>
                            <span class="dotted"></span>
                            <span class="text">общая сумма из корзины + доставка руб.</span>
                        </p>
                        <div class="payment_method">
                            <h3>Выберите способ оплаты</h3>
                            <div class="payment_wrap">
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/coins.png" alt=""></p>
                                        <p>Наличными при получении</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/card_new.png" alt=""></p>
                                        <p>Банковская <br> карта</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/sber.png" alt=""></p>
                                        <p>Сбербанк. <br> Онлайн</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/wallet.png" alt=""></p>
                                        <p>Яндекс. <br> Деньги</p>
                                    </div>
                                </label>
                            </div>
                            <div class="payment_btn">
                                <input type="submit" class="btn" value="Далее">
                                <p>Оформляя заказ вы соглашаетесь с обработкой персональных данных,
                                    согласно федеральному закону N152-ФЗ от 27 июля 2006 г.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="delivery_list_item_wrap">
                    <label class="delivery_list_item">
                        <input type="radio" name="delivery-radio" class="delivery-radio">
                        <span class="radio_custom"></span>
                        <span class="open_link">
                            Доставка службой CDEK
                        </span>
                    </label>
                    <div class="list-checked">
                        <p>
                            <span class="title">Стоимость доставки</span>
                            <span class="dotted"></span>
                            <span class="text">Оплачивается отдельно при получении</span>
                        </p>
                        <p>
                            <span class="title">Итого</span>
                            <span class="dotted"></span>
                            <span class="text">общая сумма из корзины  руб.</span>
                        </p>
                        <div class="payment_method">
                            <h3>Выберите способ оплаты</h3>
                            <div class="payment_wrap">
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/coins.png" alt=""></p>
                                        <p>Наличными</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/card_new.png" alt=""></p>
                                        <p>Банковская <br> карта</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/sber.png" alt=""></p>
                                        <p>Сбербанк. <br> Онлайн</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/wallet.png" alt=""></p>
                                        <p>Яндекс. <br> Деньги</p>
                                    </div>
                                </label>
                            </div>
                            <div class="payment_btn">
                                <input type="submit" class="btn" value="Далее">
                                <p>Оформляя заказ вы соглашаетесь с обработкой персональных данных,
                                    согласно федеральному закону N152-ФЗ от 27 июля 2006 г.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pickup">
                <h2>Самовывоз из пункта выдачи</h2>
                <div class="delivery_list_item_wrap">
                    <label class="delivery_list_item">
                        <input type="radio" name="delivery-radio" class="delivery-radio">
                        <span class="radio_custom"></span>
                        <span class="open_link">
                            Москва, ул. Багратионовская, д.38
                        </span>
                    </label>
                    <div class="list-checked">
                        <p>
                            <span class="title">Стоимость доставки</span>
                            <span class="dotted"></span>
                            <span class="text">Бесплатно</span>
                        </p>
                        <p>
                            <span class="title">Итого</span>
                            <span class="dotted"></span>
                            <span class="text">сумма из корзины руб.</span>
                        </p>
                        <div class="payment_method">
                            <h3>Выберите способ оплаты</h3>
                            <div class="payment_wrap">
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/coins.png" alt=""></p>
                                        <p>Наличными</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/card_new.png" alt=""></p>
                                        <p>Банковская <br> карта</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/sber.png" alt=""></p>
                                        <p>Сбербанк. <br> Онлайн</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/wallet.png" alt=""></p>
                                        <p>Яндекс. <br> Деньги</p>
                                    </div>
                                </label>
                            </div>
                            <div class="payment_btn">
                                <input type="submit" class="btn" value="Далее">
                                <p>Оформляя заказ вы соглашаетесь с обработкой персональных данных,
                                    согласно федеральному закону N152-ФЗ от 27 июля 2006 г.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="delivery_list_item_wrap">
                    <label class="delivery_list_item">
                        <input type="radio" name="delivery-radio" class="delivery-radio">
                        <span class="radio_custom"></span>
                        <span class="open_link">
                            Санкт-Петербург, ул. Невский проспект, д.15
                        </span>
                    </label>
                    <div class="list-checked">
                        <p>
                            <span class="title">Стоимость доставки</span>
                            <span class="dotted"></span>
                            <span class="text">Бесплатно</span>
                        </p>
                        <p>
                            <span class="title">Итого</span>
                            <span class="dotted"></span>
                            <span class="text">сумма из корзины руб.</span>
                        </p>
                        <div class="payment_method">
                            <h3>Выберите способ оплаты</h3>
                            <div class="payment_wrap">
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/coins.png" alt=""></p>
                                        <p>Наличными</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/card_new.png" alt=""></p>
                                        <p>Банковская <br> карта</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/sber.png" alt=""></p>
                                        <p>Сбербанк. <br> Онлайн</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="img/wallet.png" alt=""></p>
                                        <p>Яндекс. <br> Деньги</p>
                                    </div>
                                </label>
                            </div>
                            <div class="payment_btn">
                                <input type="submit" class="btn" value="Далее">
                                <p>Оформляя заказ вы соглашаетесь с обработкой персональных данных,
                                    согласно федеральному закону N152-ФЗ от 27 июля 2006 г.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>


{% endblock %}

{% block javascript %}

{% endblock javascript %}