{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/order_registration.css' %}">
    <h1>Оформление заказа</h1>

    <form class="personal_data_form" id="personal_data_form" action="">
        <div class="step-three">
            <div class="steps_block">
                <div class="steps_active">
                    <p class="text">1</p>
                    <p class="title">Доставка</p>
                </div>
                <div class="steps_active">
                    <p class="text">2</p>
                    <p class="title">Личные данные</p>
                </div>
                <div class="steps_active">
                    <p class="text">3</p>
                    <p class="title">Подтверждение</p>
                </div>
            </div>
            
            <h2>Ваш заказ <span class="title_red">№ 0001</span></h2>

            <div class="personal_info">
                <div class="title_block">
                    <h3>Личные данные</h3>
                    <span></span>
                </div>
                <p>
                    <span class="title">Имя получателя</span>
                    <span class="dotted"></span>
                    <span class="text">Иванов Иван Иванович</span>
                </p>
                <p>
                    <span class="title">Номер телефона</span>
                    <span class="dotted"></span>
                    <span class="text">+7 (900) 665 18 76</span>
                </p>
            </div>

            <div class="delivery_info">
                <div class="title_block">
                    <h3>Данные о доставке</h3>
                    <span></span>
                </div>
                <p>
                    <span class="title">Вид доставки</span>
                    <span class="dotted"></span>
                    <span class="text">Самовывоз</span>
                </p>
                <p>
                    <span class="title">Дата доставки</span>
                    <span class="dotted"></span>
                    <span class="text bold">13 ноября (Вт)</span>
                </p>
                <p>
                    <span class="title">Адрес доставки</span>
                    <span class="dotted"></span>
                    <span class="text">ул. Совхозная, 1</span>
                    <a href="#" class="map"><img src="img/placeholder-filled-point.png" alt=""> Показать на карте</a>
                </p>
            </div>

            <div class="payment_info">
                <div class="title_block">
                    <h3>Оплата</h3>
                    <span></span>
                </div>
                <div class="payment_info_block">
                    <img src="img/card_new.png" alt="">
                    <p>
                        Принимаем банковские карты: Visa, MasterCard, Maestro
                        American Express и Мир. Выдача заказов по паспорту
                    </p>
                </div>
                <input type="submit" name="submit" class="payment_info_btn" value="Редактировать"> 
            </div>

            <div class="sum_block">
                <p>
                    <span class="title">Сумма заказа</span>
                    <span class="dotted"></span>
                    <span class="text">114 500 руб.</span>
                </p>
                <p>
                    <span class="title">Сумма доставки</span>
                    <span class="dotted"></span>
                    <span class="text">500 руб.</span>
                </p>
                <p class="result">
                    Итого: 115 000 руб.
                </p>
            </div>

            <div class="btns_block">
                <input type="submit" value="Подтвердить" class="btn">
            </div>
        </div>
    </form>


{% endblock %}

{% block javascript %}

{% endblock javascript %}