.wrap_product_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrap_product_slider {
    width: 50%;
    margin-right: 30px;
}

.slider_item-main a img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: auto;
    height: 300px;
}

.product_description_title {
    font-size: 35px;
    border-bottom: 2px solid gold;
}

.product_description_title + p {
    color: rgb(199, 199, 198);
}

.small_item_slide {
    padding: 10px;
}

.small_item_slide img {
    width: 100%;
    height: 100px;
}

.slider_item-nav {
    padding-left: 40px;
    padding-right: 40px;
}

.top_line_basket_table {
    color: #9b9fa8;
    font-size: 26px;
    font-weight: 500;
    line-height: 46px;
}

.product {
    margin-top: 10px;
    margin-bottom: 10px;
}

.name_product_column, 
.count_product_column, 
.sum_product_column,
.image_product {
    display: none;
}

.line_basket_table {
    position: relative;
    padding-top: 15px;
    border-top: 1px solid rgb(199, 199, 198);
}

.title_descr_product {
    display: inline-block;
    width: 200px;
    color: rgb(199, 199, 198);
    font-size: 22px;
    font-weight: 600;
    line-height: 19px;
}

.art {
    margin-top: 15px;
    margin-bottom: 20px;
    color: rgb(199, 199, 198);
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
}

.minus,
.minus_detail {
    display: inline-block;
    width: 56px;
    height: 34px;
    padding-left: 5px;
    margin-right: -5px;
    background-color: white;
    border: none;
    border-radius: 21px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    vertical-align: bottom;
    font-size: 40px;
    line-height: 28px;
    color: rgb(199, 199, 198);
    vertical-align: middle;
}

.count_product,
.count_product_detail {
    display: inline-block;
    width: 57%;
    height: 34px;
    border: none;
    text-align: center;
    vertical-align: middle;
    color: rgb(199, 199, 198);
}

.plus,
.plus_detail {
    display: inline-block;
    width: 56px;
    height: 34px;
    padding-right: 5px;
    margin-left: -5px;
    background-color: white;
    border: none;
    border-radius: 21px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    vertical-align: bottom;
    font-size: 30px;
    line-height: 34px;
    color: #282828;
    vertical-align: middle;
}

.sum_box {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(199, 199, 198);
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.name_column_mob_version,
.name_product_column, 
.count_product_column,
.price_product_column,
.sum_product_column {
    color: #9b9fa8;
}

.remove_product {
    position: absolute;
    top: 15px;
    right: 0;
    color: rgb(199, 199, 198);
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.summa_box {
    margin-top: 10px;
    padding: 15px 0;
    font-size: 30px;
	font-weight: 600;
    line-height: 32px;
    border-top: 1px solid #e0e4ee;
    border-bottom: 1px solid #e0e4ee;
    text-align: right;
}

.price_product_column, .price_product {
    width: 120px;
    display: inline-block;
}

.price_product {
    vertical-align: top;
}

.title_result_list_item {
    margin-right: 25px;
}

.btns_table_line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.continue {
    color: #009cdb;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}

.btns_table_line_sub {
    order: -1;
    width: 246px;
    height: 41px;
    padding-top: 10px;
    margin-bottom: 35px;
    background-color: #e6ba61;
    border-radius: 21px;
    border: none;
    color: #820201;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
}

.add_to_basket_modal, 
.add_to_basket,
.click_btn {
    height: 41px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e6ba61;
    border-radius: 21px;
    border: none;
    color: #820201;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}

button.btns_table_line_sub {
    padding-top: 0;
}

.btns_table_line_sub {
    margin-right: 10px;
    margin-left: 10px;
}

.btns_table_line_sub:hover,
.add_to_basket_modal:hover, 
.add_to_basket:hover,
.click_btn:hover {
    background-color: rgba(236, 218, 117, 0.8);
    color: #820201;
    text-decoration: none;
}

.btns_table_line_sub:active,
.add_to_basket_modal:active, 
.add_to_basket:active,
.click_btn:hover {
    background-color: rgba(247, 220, 71, 0.8);
}

/* .add_to_basket {
    margin-right: 20px;
}

.button_book {
    display: flex;
} */

@media only screen and (min-width: 768px) {
    .name_column_mob_version {
            display: none;
        }
        .name_product_column, 
        .count_product_column, 
        .sum_product_column,
        .price_product_column,
        .image_product {
            display: inline-block;
        }
        .name_product_column {
            width: 280px;
            margin-right: 50px;
            padding-left: 85px;
        }
        .count_product_column {
            width: 120px;
            margin-right: 50px;
            margin-left: 50px;
        }
        .line_basket_table {
            padding: 20px 0;
        }
        .name {
            width: 280px;
            display: inline-block;
            margin-right: 50px;
        }
        .image_product {
            width: 60px;
            margin-right: 20px;
            vertical-align: top;
        }
        .image_product img {
            width: 100%;
        }
        .name_text {
            display: inline-block;
            width: 100px;
        }
        .art {
            margin-top: 5px;
        }
        .navigation_count_product,
        .navigation .count_product_detail {
            text-align: center;
            display: inline-block;
            vertical-align: top;
            margin-left: 50px;
            margin-right: 10px;
        }
        .product_description .navigation_count_product {
            display: block;
            margin: 0;
            margin-bottom: 10px;
        }
        .recomendation_btn {
            margin-left: 20px;
            margin-right: 0;
        }
        .product_button_add {
            margin-top: 10px;
            text-align: center;
        }
        .minus,
        .minus_detail, 
        .plus,
        .plus_detail {
            width: 30px;
        }
        .count_product,
        .count_product_detail {
            width: 50px;
        }
        .sum_box {
            display: inline-block;
            margin: 0;
            margin-left: 50px;
            vertical-align: top;
        }
        .remove_product {
            top: 20px;
            font-size: 24px;
        }
        .footer_menu_link {
            font-size: 12px;
            font-weight: 600;
            line-height: 27px;
        }
        .btns_table_line {
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
        }
        .btns_table_line_sub {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
        }
        .slick-next {
            right: -25px;
        }
    }


@media (max-width:800px) {
    .slider_item-main {
        text-align: center;
    }
    .wrap_product_description {
        display: block;
    }
    .wrap_product_slider {
        width: auto;
    }
    .product_summary {
        text-align: center;
    }
    .product_summary_title {
        margin-top: 40px;
    }
}

@media (max-width: 992px) {
    .count_product, .count_product_detail {
        width: 100px;
    }
}