.cart_complete_title {
    font-size: 20px;
	font-weight: 600;
    line-height: 46px;
    text-align: center;
}

.steps_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.steps_block .text {
    width: 41px;
    height: 41px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    color: #820201;
    font-size: 16px;
    font-weight: 600;
    line-height: 46px;
}

.steps_block .steps_title {
    font-size: 18px;
    font-weight: 600;
    line-height: 46px;
}
/* ### */
.tab {
    display: none;
}

.error + .radio_custom,
.error {
    border: 4px solid red !important;
}

/* ### */
.steps_nonactive {
    display: none;
    opacity: 0.4;
}

.step-one .steps_active {
    position: relative;
}

.step-one .steps_active::after {
    content: '';
    display: none;
    position: absolute;
    top: 16%;
    left: 100%;
    width: 173px;
    height: 2px;
    background-image: url(../../../media/images/cart/line.png);
    background-size: contain;
}

.step-two .steps_active:first-child,
.step-three .steps_active:first-child,
.step-three .steps_active:nth-child(2) {
    position: relative;
    display: none;
}

.step-two .steps_active:first-child::after,
.step-three .steps_active:first-child::after,
.step-three .steps_active:nth-child(2)::after {
    content: '';
    display: none;
    position: absolute;
    top: 16%;
    left: 100%;
    width: 173px;
    height: 2px;
    background-image: url(../../../media/images/cart/line2.png);
    background-size: contain;
}

.step-one h2 {
    margin: 0;
    font-size: 18px;
	font-weight: 600;
	line-height: 46px;
}

.open_link,
.radio_custom {
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

.delivery_list_item .radio_custom {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url(../../../media/images/cart/delivery-radio.png);
    vertical-align: middle;
}

.delivery-radio:checked + .radio_custom {
    background-image: url(../../../media/images/cart/delivery-radio-act.png);
}

.open_link {
    display: inline-block;
    padding-top: 10px;
    color: #e6ba61;
	font-size: 20px;
    font-weight: 600;
    border-bottom: 1px dashed #e6ba61;
}

.date {
    display: block;
    margin-left: 18px;
    color: #747474;
	font-size: 14px;
    font-weight: 400;
}

.delivery_list_item.active {
    width: 100%;
    padding: 0 15px 15px 15px;
    margin-bottom: 0;
    border-top: none;
    background-color: #e6ba61;
    border-radius: 4px 4px 0px 0px;
} 

.delivery_list_item.active .open_link {
    font-size: 20px;
    color: #820201;
    border-bottom: 1px dashed #820201;
    
}

.delivery_list_item.active .date {
    font-size: 12px;
    color: white;
}

.delivery_list_item + .list-checked {
    display: none;
}

.delivery_list_item.active + .list-checked {
    display: block;
    background-color: white;
    padding: 20px;
}

.list-checked p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.list-checked p .dotted {
    border-bottom: 1px dotted;
    width: 19%;
    height: 20px;
}

.list-checked p:last-of-type .dotted {
    width: 55%;
}

.list-checked .list-checked_title,
.list-checked  .dotted {
	color: #9697a3;
	font-size: 20px;
	font-weight: 400;
}

.list-checked .text {
	font-size: 20px;
	font-weight: 600;
} 

.payment_method h3 {
    color: #373838;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
}

.payment_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.payment_wrap label {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}


.payment_wrap .radio_custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 118px;
    height: 53px;
    margin-right: 5px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 5px #f2f3f4;
    box-shadow: 0px 0px 5px 5px #f2f3f4;
    color: #373838;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
}

.radio_custom p {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}

.radio_custom img {
    width: 23px;
}

.payment-radio:checked + .radio_custom {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid rgb(17, 196, 17);
	border-radius: 6px;
}

.payment_btn {
    text-align: center;
}

.btns_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
}

.btns_block div {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    text-align: center;
}

.payment_btn .btn {
    width: 148px;
    height: 41px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #820201;
	font-size: 18px;
	font-weight: 600;
    line-height: 18px;
    border: 2px solid #820201;
    border-radius: 21px;
    background-color: transparent;
}

.btns_block .btn {
    width: 100px;
    background-color: #e6ba61;
    color: #820201;
    font-size: 16px;
	font-weight: 600;
    line-height: 17px;
}

.payment_btn .btn:hover {
    color: #e6ba61;
    background-color: #820201;
}

.btns_block .btn:hover {
    background-color: #e2ab3e;
    color: #820201;
}

.payment_btn .btn:focus,
.btns_block .btn:focus {
    outline: 1px solid #820201;
}

.payment_btn .btn:active {
    color: #e6ba61;
    background-color: #4e0404;
}

.btns_block .btn:active {
    background-color: #e7a521;
    color: #820201;
}

.payment_btn p,
.btns_block .personal_data_processing {
	font-size: 11px;
	font-weight: 400;
    line-height: 14px;
    color: #9697a3;
}

/* step-two */
.contact_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.contact_form_personal {
    width: 45%;
}

.contact_form_comment {
    width: 45%;
}

.control-label {
    color: #e6ba61;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
}

.form-control, 
.comment {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    border: none;
}

.sum_block {
    padding: 20px 0;
    text-align: right;
    border-top: 1px solid #e0e4ee;
    border-bottom: 1px solid #e0e4ee;
} 

.sum_block p {
    margin: 0;
}

.sum_block p:not(.result) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.sum_block .sum_block_title,
.sum_block .dotted {
    font-weight: 400;
	color: #9697a3;
	font-size: 16px;
	line-height: 16px;
}

.sum_block .text {
    font-weight: 400;
    font-size: 16px;
	line-height: 32px;
}

.sum_block .dotted {
    border-bottom: 1px dotted;
    width: 19%;
    height: 16px;
}

.sum_block .result {
    font-size: 18px;
	font-weight: 600;
	line-height: 32px;
}

.btns_block .continue {
	font-size: 16px;
	font-weight: 600;
    line-height: 17px;
    background-color: #e6ba61;
    color: #820201;
    border: none;
    border-radius: 10px;
}

.btns_block .continue:hover {
    color: #ac0909;
}

.btns_block .continue:active {
    color: #d61717;
}

.prevBtn img {
    width: 30px;
}

/* step3 */
.wrap_product .step-three h2,
.wrap_product .step-three h2 .title_red {
    font-size: 19px;
    font-weight: 700;
    line-height: 46px;
}
.wrap_product .step-three h2 .title_red {
    color: #ff0606;
}

.title_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.title_block h3 {
    color: #e6ba61;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}

.personal_info .title_block h3 {
    width: 220px;
}

.delivery_info .title_block h3 {
    width: 290px;
}

.payment_info .title_block h3 {
    width: 53px;
}

.personal_info p,
.delivery_info p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.personal_info_title,
.personal_info .dotted,
.delivery_info .dotted {
    font-weight: 400;
	color: #9697a3;
	font-size: 18px;
	line-height: 18px;
}

.personal_info .text,
.delivery_info .text {
    font-weight: 400;
    font-size: 14px;
	line-height: 32px;
}

.delivery_info .text.bold {
    font-weight: 600;
} 

.personal_info .dotted,
.delivery_info .dotted {
    border-bottom: 1px dotted;
    width: 19%;
    height: 15px;
}

.personal_info p:first-of-type .dotted {
    width: 5%;
}

.personal_info p:last-of-type .dotted,
.delivery_info p:first-of-type .dotted  {
    width: 40%;
}

.delivery_info p:nth-of-type(2) .dotted {
    width: 34%;
}

.delivery_info p:last-of-type .dotted {
    width: 26%;
}

.delivery_info .map {
    display: none;
}

.payment_info_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
}

.payment_info_block p {
    width: 80%;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}

.payment_info_block img,
.payment_your_block img {
    width: 56px;
    margin-right: 20px;
    height: 51px;
}

.payment_info_btn {
    display: inherit;
    width: 204px;
    height: 41px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #820201;
	font-size: 18px;
	font-weight: 600;
    line-height: 18px;
    background-color: transparent;
    border: 2px solid #820201;
    border-radius: 21px;
    cursor: pointer;
}

.payment_info_btn:hover {
    color: #e6ba61;
    background-color: #820201;
}

.payment_info_btn:focus {
    outline: 1px solid #820201;
}

.payment_info_btn:active {
    color: #e6ba61;
    background-color: #4e0404;
}

.payment_your .title_block {

}

.payment_your_block {
    display: flex;
    max-width: 200px;
    padding: 20px 10px;
    background-color: white;
    box-shadow: 0px 0px 5px 5px #f2f3f4;
    border-radius: 6px;
    font-size: 18px;
    line-height: 18px;
}

.your_payment_img {
    align-self: center;
}

.your_payment_text {
    margin-bottom: 0;
    align-self: center;
    color: #820201;
    font-weight: 600;
}

.step-three .btns_block .btn:hover {
    background-color: #d8a540;
    text-decoration: none;
}

.step-three .btns_block .btn:focus {
    outline: 1px solid #970303;
}

.step-three .btns_block .btn:active {
    background-color: #db9c1d;
}


@media only screen and (min-width: 768px) {
    .cart_complete_title {
        font-size: 24px;
        text-align: left;
    }
    .steps_block {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .steps_nonactive,
    .step-two .steps_active:first-child,
    .step-three .steps_active:first-child,
    .step-three .steps_active:nth-child(2) {
        display: inline-block;
    }
    .step-one .steps_active::after {
        display: inline-block; 
        width: 210px;
    }
    .step-two .steps_active:first-child::after,
    .step-three .steps_active:first-child::after,
    .step-three .steps_active:nth-child(2)::after {
        display: inline-block; 
        width: 210px;
    }
    .date {
        display: inline-block;
    }
    .delivery_list_item.active + .list-checked {
        padding: 30px 40px;
    }
    .list-checked p:last-of-type .dotted {
        width: 32%;
    }
    .payment_wrap .radio_custom {
        width: 153px;
        height: 68px;
        font-size: 12px;
        line-height: 17px;
    }
    .payment_btn {
        text-align: right;
    }
    .payment_btn p,
    .btns_block .personal_data_processing {
        max-width: 450px;
        margin-left: auto;
    }
    .btns_block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .btns_block div {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        text-align: right;
    }
    .personal_info p:first-of-type .dotted,
    .personal_info p:nth-of-type(2) .dotted {
        width: 30%;
    }
    .delivery_info p:first-of-type .dotted {
        width: 34%;
    }
    .delivery_info p:last-of-type .dotted {
        width: 32%;
    }
    .payment_info_block p {
        width: 356px;
    }
    .payment_info_btn {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
    }
    .delivery_info .map {
        display: inline-block;
        margin-left: 20px;
        color: #e6ba61;
        font-size: 12px;
        font-weight: 18px;
        line-height: 14px;
        border-bottom: 1px dashed #e6ba61;
        cursor: pointer;
    }
    .delivery_info .map img {
        vertical-align: bottom;
        height: 30px;
    }
}

@media only screen and (min-width: 1170px) {
    .delivery_list_item.active + .list-checked {
        padding: 30px 60px;
    }
    .personal_info p:last-of-type .dotted {
        width: 38%;
    }
    .delivery_info p:last-of-type .dotted {
        width: 33%;
    }
}