@font-face {
    src: url(../fonts/main.ttf);
    font-family: "Harry Potter";
}

body{
    font-family: 'Neucha', cursive;
    font-size: 28px;
    background-color: #820201;
    color: #e6ba61;
}

h1 {
    margin: 0;
}

.garry {
    font-family: "Harry Potter";
}

.open_menu i {
    vertical-align: middle;
}

header,
footer {
    background-color: black;
}

iframe {
    width: 100%;
}

.menu_top-mobile {
    display: none;
}

.menu_mobile-hidden {
    display: none;
    background-color: #000;
    text-align: center;
}

.sidebar-mobile {
    display: none;
}

.sidebar-mobile-hidden {
    display: none;
}

.sidebar-list {
    padding: 0;
}

.sidebar-nav_link {
    color: #c1a929;
}

.sidebar-nav_link:hover,
.footer_nav .sidebar-nav_link:hover {
    color: #f1d536;
    text-decoration: none;
}

.sidebar-nav_link:active,
.footer_nav .sidebar-nav_link:active  {
    color: #ecda75;
}

footer {
    padding-top: 20px;
    padding-bottom: 15px;
}

.footer_nav .sidebar-nav_link {
    color: #c1a929;
    font-weight: 600;
}

.footer_nav .sidebar-nav_link i {
    margin-right: 10px;
    font-size: 10px;
}

.footer_contact {
    display: flex;
    justify-content: space-around;
}

.footer_contact i {
    margin-right: 10px;
    vertical-align: middle;
}

.email,
.tel {
    margin-right: 30px;
    text-align: center;
}


.social_block {
    text-align: center;
}

.contact_link {
    color: rgb(234, 234, 228);
}

.contact_link:hover {
    color: #b4b2b2;
    text-decoration: none;
}

.contact_link:active {
    color: #9b9898;
}

.social_link:not(:last-child) {
    margin-right: 10px;
}

.social_link span {
    display: none;
}

.copyright {
    margin-top: -55px;
    text-align: center;
    color: rgb(234, 234, 228);
}

.main_content {
    margin-bottom: 50px;
}

.title {
    margin-top: 140px;
    margin-bottom: 80px;
    text-align: center;
}

h1 {
    font-size: 48px;
    line-height: 48px;
}

ul {
    list-style: none;
}

.header_wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header_logo {
    margin: 0;
    margin-right: 20px;
    align-self: center;
}

.sidebar-nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    margin-right: 20px;
}


.img-logo-main {
    width: 200px;
    border-radius: 10px;
}

.input-holder input[type=text] {
    max-width: 200px;
    width: 100%;
}

.main-text {
    max-width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #c1a929;
}

.thumbnails {
    width: 200px;
    height: 300px;
}

.slider-title {
    margin-top: 0;
    margin-left: 10px;
    font-size: 46px;
    line-height: 46px;
}

.slick-next:before {
    content: "\f0e7";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    color: gold;
}

.slick-next {
    transform: rotate(270deg);
    right: 0;
    top: -40px;
}

.slick-prev:before {
    content: "\f0e7";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    color: gold;
}

.slick-prev {
    transform: rotate(90deg);
    top: -40px;
    left: 94%;
}

.slider {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.slider-item {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

.slider-item a {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.slider-text {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-list-item {
    background-color: rgb(234, 234, 228);
    border-bottom: 1px solid rgb(199, 199, 198);
    text-align: center;
}

.sidebar-list-item:last-child,
.highlighted {
    border-bottom: none;
}

.sidebar-list-item:hover {
    background-color: rgb(199, 199, 198);
}

.sidebar-list-item:hover a {
    text-decoration: none;
}

.sidebar-list-item a{
    color: #820201;
}
.highlighted a{
    color: gold;
}
.highlighted {
    background-color: #716565;
}

.highlighted:hover {
    background-color: #554c4c;
}

#modal_cart {
	width: 850px; 
	height: 650px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #820201;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	left: 30%; /* пoлoвинa экрaнa слевa */
	margin-top: -50px;
	margin-left: -50px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.close_modal {
	width: 21px;
    height: 21px;
    background-color: transparent;
    border: none;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

.item_added {
    width: 207px;
    height: 104px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    right: 160px;
    bottom: -150px;
    text-align: center;
    background-color: rgba(199, 199, 198, 0.6);
    color: #820201;
    font-size: 18px;
    line-height: 18px;
    border-radius: 10px;
    z-index: 999;
    display: none;
}

.item_added p {
    margin-bottom: 5px;
}

.item_added a {
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    color: #e6ba61;
    background-color: #820201;
    border-radius: 10px;
}

.item_added a:hover {
    color: #cea759;
    background-color: rgba(130, 2, 1, 0.8);
    text-decoration: none;
} 

.item_added a:active {
    color: #c99a3c;
    background-color: rgba(130, 2, 1, 0.5);
}

.button {
    position: relative;
}

.like_main {
    height: 260px;
    overflow: hidden;
    overflow-y: scroll;
}

.delivery_block h1,
.contacts h1 {
    text-align: center;
}

.delivery_block h2 {
    color: rgb(234, 234, 228);
}

.delivery_block p {
    line-height: 24px;
    font-size: 24px;
}

.delivery_block i {
    margin-right: 10px;
    font-size: 10px;
    vertical-align: middle;
}

.delivery-post_price {
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    background-color: rgba(236, 218, 117, 0.8);
    border-radius: 10px;
    color: #820201;
    font-weight: 600;
}

.delivery_line {
    width: 100%;
    height: 3px;
    border-top: 1px solid rgb(234, 234, 228);
    border-bottom: 1px solid rgb(234, 234, 228);
}

.reviews .garry {
    text-align: center;
}

.review_block {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.review_block-img {
    width: 150px;
    height: 150px;
    margin-right: 30px;
    border-radius: 10px;
}

.sales .garry {
    text-align: center;
}

.sales_block {
    margin-top: 20px;
    text-align: center;
}

.sales_block img {
    width: 100%;
}

.sales_block-title {
    font-size: 36px;
    font-weight: 700;
}

.sales_block-line {
    width: 100%;
    height: 3px;
    border-top: 1px solid rgb(234, 234, 228);
    border-bottom: 1px solid rgb(234, 234, 228);
}

.contacts_text {
    margin-top: 20px;
}

.contacts_text .bold {
    color: gold;
    font-weight: 700;
}

/* merchandise_list */
.search-result,
.books_result,
.merch_result {
    text-align: center;
}

.search-result a,
.books_result a,
.merch_result a{
    display: block;
}

.merch_list,
.books_list,
.search-result-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.merch_list a,
.books_list a,
.search-result a {
    padding: 10px;
    color: #e6ba61;
}

.books_result,
.search-result{
    max-width: 250px;
}

.merch_result a:hover,
.books_result a:hover,
.search-result a:hover {
    padding: 15px;
    background-color: rgba(236, 218, 117, 0.8);
    border-radius: 10px;
    color: #820201;
    text-decoration: none;
} 

.merch_result a:active,
.books_result a:active,
.search-result a:active {
    background-color: rgba(247, 220, 71, 0.8);
}



@media (max-width: 500px) {
    .footer_contact {
        flex-wrap: wrap;
    }
    .social {
        width: 100%;
        padding-bottom: 10px;
        text-align: center;
    }
    .social_block {
        display: flex;
        justify-content: space-around;
    }
    .footer_contact i {
        font-size: 50px;
    } 
}


@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .sidebar-mobile {
        display: block;
        color: gold;
        background-color: #554c4c;
        text-align: center;
    }
    .sidebar-mobile_open {
        position: relative;
        margin-bottom: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 36px;
        border: 1px solid  rgb(199, 199, 198);
        cursor: pointer;
    }
    .sidebar-mobile_open::after {
        content: '\f0c9';
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        position: absolute;
        right: 40px;
    }
    .sidebar-mobile-link {
        display: block;
        padding: 10px 0;
        color: gold;
        border-top: 1px solid rgb(199, 199, 198);
    }
    .sidebar-mobile-link:first-child {
        border: none;
    }
    .sidebar-mobile-link:hover {
        color: #cea759;
        text-decoration: none;
    } 
    .sidebar-mobile-link:active {
        color: #c99a3c;
    }
    .sidebar-mobile-hidden {
        background-color: #554c4c;
        color: gold;
    }
    .footer_nav {
        display: none;
    }
    .copyright {
        margin: 0;
    }
}


@media (max-width: 800px) {
    .header_wrap {
        justify-content: flex-start;
    }
    .menu_top-desctop {
        display: none;
    }
    .menu_top-mobile {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .menu_mobile_link {
        display: block;
        padding: 10px 0;
        color: #e6ba61;
        border-top: 1px solid rgb(199, 199, 198);
    }
    .menu_mobile_link:hover {
        color: #cea759;
        text-decoration: none;
    } 
    .menu_mobile_link:active {
        color: #c99a3c;
    }
    .open_menu {
        width: 100%;
        padding: 6px;
        margin-right: 20px;
        margin-bottom: 0;
        text-align: center;
        border: 2px solid rgb(199,199,198);
        border-radius: 10px;
    }
    .open_menu + form {
        width: 100%;
    }
}




@media (max-width: 992px) {
    .slick-prev {
        left: 85%;
    }
    .slick-next {
        right: 5%;
    }
    #modal_cart {
    width: 100%;
    left: 0;
    margin: 0;
    height: 850px;
    }
    .count_product {
        width: 100px;
    }
}

@media (max-width: 360px) {
    .header_wrap {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 400px) {
    .slick-prev {
        left: 80%;
    }
}


@media (max-width:530px) {
    .main_content {
        text-align: center;
    }
    .merch_list, .books_list, .search-result-list {
        justify-content: center;
    }
}