{% extends 'base_generic.html' %}

{% block content %}
    <h1>Authors List</h1>

    {% if author_list %}
        <ul>

            {% for author in author_list %}
            <li>
                <a href='{{ author.get_absolute_url }}'>{{ author }}({{ author.date_of_birth }} - {% if author.date_of_death %}{{ author.date_of_death }}{% else %}Alive today{% endif %})</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>There are no authors in the library.</p>
        {% endif %}
{% endblock %}