{% extends 'base_generic.html' %}

{% block content %}
    
    <h1>Author: {{ author }}</h1>

    <p><strong>Years of life:</strong>{{ author.date_of_birth }} - {% if author.date_of_death %}{{ author.date_of_death }}{% else %}Alive today{% endif %}</p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Books</h4>

        {% for book in author.book_set.all %}
        <hr>
        <div class="author_books">
            <strong><a href='{{ book.get_absolute_url }}'>{{ book }}</a></strong>
            <p>{{ book.summary }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}