{% extends 'base_generic.html' %}

{% block content %}

<h1>Delete Author</h1>

<p>Are you sure you want to delete the author: {{ author }}?</p>

<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" action="" value="Yes, delete." />
</form>

{% endblock content %}