{% extends 'base_generic.html' %}

{% block content %}
    <h1>Borrowed books</h1>

    {% if bookinstance_list %}
    <ul>

        {% for bookinst in bookinstance_list %}
        <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
            <a href="{% url 'book_detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> {% if bookinst.is_overdue %}Book is overdue{% endif %} ({{ bookinst.due_back }})
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no books borrowed.</p>
    {% endif %}
{% endblock content %}