{% extends 'base_generic.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if book_list %}
        <div class='books_list'>
            {% for book in book_list %}
            <div class='books_result'>
                <a href="{{ book.get_absolute_url }}">
                    <img class="thumbnails" src="{{ MEDIA_URL }}{{ book.thumbnail.url }}" alt="">
                    <p class='merch_result-title'>{{ book.title }} {% if book.author %} ({{ book.author }}){% endif %}</p>
                    <p class='merch_result-sum'>{{ book.price }} руб.</p>
                </a>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}