{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/order_registration.css' %}">
    <!--######## STEP 1 STEP 1 STEP 1 #########-->
<form id="CartCompleteForm" action="">
    <h1 class="cart_complete_title">Оформление заказа</h1>

    <div class="selected_city_form wrap_delivery_containers tab" id="selected_city_form">
        <div class="step-one">
            <div class="steps_block">
                <div class="steps_active">
                    <p class="text">1</p>
                    <p class="steps_title">Доставка</p>
                </div>
                <div class="steps_nonactive">
                    <p class="text">2</p>
                    <p class="steps_title">Личные данные</p>
                </div>
                <div class="steps_nonactive">
                    <p class="text">3</p>
                    <p class="steps_title">Подтверждение</p>
                </div>
            </div>

            <div class="delivery_standart">
                <h2>Стандартная доставка</h2>
                <div class="delivery_list_item_wrap">
                    <label class="delivery_list_item">
                        <input type="radio" name="delivery-radio" class="delivery-radio">
                        <span class="radio_custom"></span>
                        <span class="open_link" id="courier">Курьерская доставка в пределах МКАД и КАД</span>
                    </label>
                    <div class="list-checked">
                        <p>
                            <span class="list-checked_title">Стоимость доставки</span>
                            <span class="dotted"></span>
                            <span class="text"><span class="delivery_price">400</span> руб.</span>
                        </p>
                        <p>
                            <span class="list-checked_title">Итого</span>
                            <span class="dotted"></span>
                            <span class="text"><span class="cart_summary">{{ cart.summary }}</span> руб.</span>
                        </p>
                        <div class="payment_method">
                            <h3>Выберите способ оплаты</h3>
                            <div class="payment_wrap">
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/coins.png' %}" alt=""></p>
                                        <p>Наличными при получении</p>
                                    </div>
                                </label>
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/card_new.png' %}" alt=""></p>
                                        <p>Банковская <br> карта</p>
                                    </div>
                                </label>
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/sber.png' %}" alt=""></p>
                                        <p>Сбербанк. <br> Онлайн</p>
                                    </div>
                                </label>
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/wallet.png' %}" alt=""></p>
                                        <p>Яндекс. <br> Деньги</p>
                                    </div>
                                </label>
                            </div>
                            <div class="payment_btn">
                                <button type="button" class="btn nextBtn" id="nextBtn" onclick="nextPrev(1)"></button>
                                <p>Оформляя заказ вы соглашаетесь с обработкой персональных данных,
                                    согласно федеральному закону N152-ФЗ от 27 июля 2006 г.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="delivery_list_item_wrap">
                    <label class="delivery_list_item">
                        <input type="radio" name="delivery-radio" class="delivery-radio">
                        <span class="radio_custom"></span>
                        <span class="open_link">Доставка службой CDEK</span>
                    </label>
                    <div class="list-checked">
                        <p>
                            <span class="list-checked_title">Стоимость доставки</span>
                            <span class="dotted"></span>
                            <span class="text">Оплачивается отдельно при получении</span>
                        </p>
                        <p>
                            <span class="list-checked_title">Итого</span>
                            <span class="dotted"></span>
                            <span class="text">{{ cart.summary }} руб.</span>
                        </p>
                        <div class="payment_method">
                            <h3>Выберите способ оплаты</h3>
                            <div class="payment_wrap">
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/coins.png' %}" alt=""></p>
                                        <p>Наличными при получении</p>
                                    </div>
                                </label>
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/card_new.png' %}" alt=""></p>
                                        <p>Банковская <br> карта</p>
                                    </div>
                                </label>
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/sber.png' %}" alt=""></p>
                                        <p>Сбербанк. <br> Онлайн</p>
                                    </div>
                                </label>
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/wallet.png' %}" alt=""></p>
                                        <p>Яндекс. <br> Деньги</p>
                                    </div>
                                </label>
                            </div>
                            <div class="payment_btn">
                                <button type="button" class="btn nextBtn" id="nextBtn" onclick="nextPrev(1)"></button>
                                <p>Оформляя заказ вы соглашаетесь с обработкой персональных данных,
                                    согласно федеральному закону N152-ФЗ от 27 июля 2006 г.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pickup">
                <h2>Самовывоз из пункта выдачи</h2>
                <div class="delivery_list_item_wrap">
                    <label class="delivery_list_item">
                        <input type="radio" name="delivery-radio" class="delivery-radio">
                        <span class="radio_custom"></span>
                        <span class="open_link">Москва, ул. Багратионовская, д.38</span>
                    </label>
                    <div class="list-checked">
                        <p>
                            <span class="list-checked_title">Стоимость доставки</span>
                            <span class="dotted"></span>
                            <span class="text">Бесплатно</span>
                        </p>
                        <p>
                            <span class="list-checked_title">Итого</span>
                            <span class="dotted"></span>
                            <span class="text">{{ cart.summary }} руб.</span>
                        </p>
                        <div class="payment_method">
                            <h3>Выберите способ оплаты</h3>
                            <div class="payment_wrap">
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/coins.png' %}" alt=""></p>
                                        <p>Наличными при получении</p>
                                    </div>
                                </label>
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/card_new.png' %}" alt=""></p>
                                        <p>Банковская <br> карта</p>
                                    </div>
                                </label>
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/sber.png' %}" alt=""></p>
                                        <p>Сбербанк. <br> Онлайн</p>
                                    </div>
                                </label>
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/wallet.png' %}" alt=""></p>
                                        <p>Яндекс. <br> Деньги</p>
                                    </div>
                                </label>
                            </div>
                            <div class="payment_btn">
                                <button type="button" class="btn nextBtn" id="nextBtn" onclick="nextPrev(1)"></button>
                                <p>Оформляя заказ вы соглашаетесь с обработкой персональных данных,
                                    согласно федеральному закону N152-ФЗ от 27 июля 2006 г.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="delivery_list_item_wrap">
                    <label class="delivery_list_item">
                        <input type="radio" name="delivery-radio" class="delivery-radio">
                        <span class="radio_custom"></span>
                        <span class="open_link">Санкт-Петербург, ул. Невский проспект, д.15</span>
                    </label>
                   <div class="list-checked">
                        <p>
                            <span class="list-checked_title">Стоимость доставки</span>
                            <span class="dotted"></span>
                            <span class="text">Бесплатно</span>
                        </p>
                        <p>
                            <span class="list-checked_title">Итого</span>
                            <span class="dotted"></span>
                            <span class="text">{{ cart.summary }} руб.</span>
                        </p>
                        <div class="payment_method">
                            <h3>Выберите способ оплаты</h3>
                            <div class="payment_wrap">
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/coins.png' %}" alt=""></p>
                                        <p>Наличными при получении</p>
                                    </div>
                                </label>
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/card_new.png' %}" alt=""></p>
                                        <p>Банковская <br> карта</p>
                                    </div>
                                </label>
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/sber.png' %}" alt=""></p>
                                        <p>Сбербанк. <br> Онлайн</p>
                                    </div>
                                </label>
                                <label class="payment_list_item">
                                    <input type="radio" name="payment-radio" class="payment-radio">
                                    <div class="radio_custom">
                                        <p><img src="{% static 'img/wallet.png' %}" alt=""></p>
                                        <p>Яндекс. <br> Деньги</p>
                                    </div>
                                </label>
                            </div>
                            <div class="payment_btn">
                                <button type="button" class="btn nextBtn" id="nextBtn" onclick="nextPrev(1)"></button>
                                <p>Оформляя заказ вы соглашаетесь с обработкой персональных данных,
                                    согласно федеральному закону N152-ФЗ от 27 июля 2006 г.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--######## STEP 2 STEP 2 STEP 2 #########-->
    <div class="personal_data_form tab" id="personal_data_form">
        <div class="step-two">
            <div class="steps_block">
                <div class="steps_active">
                    <p class="text">1</p>
                    <p class="steps_title">Доставка</p>
                </div>
                <div class="steps_active">
                    <p class="text">2</p>
                    <p class="steps_title">Личные данные</p>
                </div>
                <div class="steps_nonactive">
                    <p class="text">3</p>
                    <p class="steps_title">Подтверждение</p>
                </div>
            </div>

            <div class="contact_form row">
                <div class="contact_form_personal col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label">ФИО</label>
                        <input id="fio" class="form-control" type="text" name="name" required="required" oninput="this.className = 'form-control'">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Телефон</label>
                        <input id="phone" type="text" class="form-control" placeholder="+7(   )" name="phone" oninput="this.className = 'form-control'">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Адрес доставки</label>
                        <input id="address" type="text" class="form-control" placeholder="" name="address" oninput="this.className = 'form-control'">
                    </div>
                </div>
                <div class="contact_form_comment col-12 col-md-6">
                    <label class="control-label">Комментарий к заказу</label>
                    <textarea name="comment" class="comment" id="comment" cols="31" rows="5"></textarea>
                </div>
            </div>

            <div class="sum_block">
                <p>
                    <span class="sum_block_title">Сумма заказа</span>
                    <span class="dotted"></span>
                    <span class="text">114 500 руб.</span>
                </p>
                <p>
                    <span class="sum_block_title">Сумма доставки</span>
                    <span class="dotted"></span>
                    <span class="text">500 руб.</span>
                </p>
                <p class="result">
                    Итого: 115 000 руб.
                </p>
            </div>

            <div class="btns_block">
                <button type="button" class="prevBtn continue" id="prevBtn" onclick="nextPrev(-1)"><img src="{% static 'img/left-arrow.png' %}" alt=""> К предыдущему шагу</button>
                <div>
                    <!-- <input type="submit" value="Далее" class="btn"> -->
                    <button type="button" class="btn nextBtn" id="nextBtn2" onclick="nextPrev(1)"></button>
                    <p class="personal_data_processing">Оформляя заказ вы соглашаетесь с обработкой персональных данных,
                        согласно федеральному закону N152-ФЗ от 27 июля 2006 г.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--######## STEP 3 STEP 3 STEP 3 #########-->
    <div class="complete_order_form tab" id="complete_order_form">
        <div class="step-three">
            <div class="steps_block">
                <div class="steps_active">
                    <p class="text">1</p>
                    <p class="steps_title">Доставка</p>
                </div>
                <div class="steps_active">
                    <p class="text">2</p>
                    <p class="steps_title">Личные данные</p>
                </div>
                <div class="steps_active">
                    <p class="text">3</p>
                    <p class="steps_title">Подтверждение</p>
                </div>
            </div>
            
            <h2>Ваш заказ <span class="title_red">№ Номер заказа из БД</span></h2>

            <div class="personal_info">
                <div class="title_block">
                    <h3>Личные данные</h3>
                </div>
                <p>
                    <span class="personal_info_title">Имя получателя</span>
                    <span class="dotted"></span>
                    <span id="complete_fio" class="text"></span>
                </p>
                <p>
                    <span class="personal_info_title">Номер телефона</span>
                    <span class="dotted"></span>
                    <span id="complete_tel" class="text"></span>
                </p>
            </div>

            <div class="delivery_info">
                <div class="title_block">
                    <h3>Данные о доставке</h3>
                </div>
                <p>
                    <span class="personal_info_title">Вид доставки</span>
                    <span class="dotted"></span>
                    <span class="text" id="complete_delivery"></span>
                </p>
                <p>
                    <span class="personal_info_title">Адрес доставки</span>
                    <span class="dotted"></span>
                    <span class="text" id="complete_address"></span>
                    <a href="#" class="map"><img src="{% static 'img/placeholder-filled-point.png' %}" alt=""> Показать на карте</a>
                </p>
            </div>

            <div class="payment_info">
                <div class="title_block">
                    <h3>Оплата</h3>
                    <span></span>
                </div>
                <div class="payment_info_block">
                    <img src="{% static 'img/wallet.png' %}" alt="">
                    <p>
                        Принимаем банковские карты: Visa, MasterCard, Maestro
                        American Express и Мир. Выдача заказов по паспорту
                    </p>
                </div>
                <input type="submit" name="submit" class="payment_info_btn" value="Редактировать"> 
            </div>

            <div class="payment_your"> 
                <div class="title_block">
                    <h3>Ваш способ оплаты</h3>
                </div>
                <div class="payment_your_block">
                    <span class="your_payment_img"></span>
                    <p class="your_payment_text"></p>
                </div>
                <input type="submit" name="submit" class="payment_info_btn" value="Редактировать"> 
            </div>


            <div class="sum_block">
                <p>
                    <span class="sum_block_title">Сумма заказа</span>
                    <span class="dotted"></span>
                    <span class="text">114 500 руб.</span>
                </p>
                <p>
                    <span class="sum_block_title">Сумма доставки</span>
                    <span class="dotted"></span>
                    <span class="text">500 руб.</span>
                </p>
                <p class="result">
                    Итого: 115 000 руб.
                </p>
            </div>

            <div class="btns_block">
                <button type="button" class="prevBtn continue" id="prevBtn" onclick="nextPrev(-1)"><img src="{% static 'img/left-arrow.png' %}" alt=""> К предыдущему шагу</button>
                <input type="submit" value="Подтвердить" class="btn">
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        $('.delivery_list_item').click(function() {
            $('.delivery_list_item').removeClass('active');
            $(this).addClass('active');
            $(".form-control").val("");
        });

        $('.payment_list_item').click(function() {
            $('.payment_list_item').removeClass('payment_list_item_active');
            $(this).addClass('payment_list_item_active');
            $(".form-control").val("");
        })
    });

</script>

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/cart_complete_order.js' %}"></script>
{% endblock javascript %}