{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/item-card.css' %}">

    <form class="wrap_basket_table">
        <div class="top_line_basket_table">
            <span class="name_column_mob_version">Товары</span>
            <span class="name_product_column">Наименование</span>
            <span class="price_product_column">Цена за шт.</span>
            <span class="count_product_column">Количество</span>
            <span class="sum_product_column">Сумма</span>
        </div>
        {% for item in cart %}
            <div class="line_basket_table">
                <div class="product">
                    <div class="name">
                        <div class="image_product">
                            <img src="{{ MEDIA_URL }}{{ item.product.thumbnail.url }}" alt="">
                        </div>
                        <div class="name_text">
                            <a href="#" class="title_descr_product">{{ item.product.title }}</a>
                            <div class="art">Артикул: 01350622</div>
                        </div>
                    </div>
                    <div class="price_product">
                        <span class="price basket-item-price-current-text">${{ item.product.price }}</i></span>
                    </div>
                    <div class="navigation_count_product">
                        <button id="minus" type="button" class="minus" pk={{ item.product.id }} data-url="{% url 'delete_item' item.product.id %}" title="Уменьшить на 1 единицу товара">-</button>
                        <input type="text" value={{ item.quantity }} name="count" class="count_product" id="count_product">
                        <button id="plus" type="button" class="plus" pk={{ item.product.id }} data-url="{% url 'add_to_cart' item.product.id %}" title="Увеличить на 1 единицу товара">+</button>
                        {% csrf_token %}
                        {% if not item.product.genre %}<input type="hidden" value="True" name="merch" class="merchandise">{% endif %}
                    </div>
                    <div class="sum_box">
                        <span class="name_column_mob_version">Сумма <i class="fas fa-ruble-sign"></i>:</span>
                        <span class="summa basket-coupon-block-total-price-current">${{ item.total_price }}</span>
                    </div>
                </div>
                <a href="{% url 'delete_item' item.product.id %}" class="remove_product" title="Удалить товар из корзины">
                    X
                </a>
            </div> 
        {% endfor %}
        <div class="summa_box">
            <span class="title_result_list_item">К оплате:</span>
            <span class="value_result_list_item summa_all">${{ cart.summary }}</i></span>
        </div>
        <div class="btns_table_line">
            <a href="{% url 'clear_cart' %}" class="btns_table_line_sub" title="Очистить корзину">
                Очистить корзину
            </a>
            <a href="{% url 'cart_complete_order' %}" class="btns_table_line_sub">Оформить заказ</a>
        </div>
    </div>
    </form>


{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/changePricesAndSummary.js' %}"></script>
{% endblock javascript %}
