{% extends 'base_generic.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if merchandise_list %}
        <div class='merch_list'>
            {% for merch in merchandise_list %}
            <div class='merch_result'>
                <a href="{{ merch.get_absolute_url }}">
                    <img class="thumbnails" src="{{ MEDIA_URL }}{{ merch.thumbnail.url }}" alt="">
                    <p class='merch_result-title'>{{ merch.title }} {% if merch.author %} ({{ merch.author }}){% endif %}</p>
                    <p class='merch_result-sum'>{{ merch.price }} руб.</p>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p>There are no books in the library.</p>
        {% endif %}
{% endblock %}