{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/item-card.css' %}">
<div class="item-card">   
    <h1 class="item-card_title garry">{{ merchandise.title }}</h1>
    <div class="wrap_product_description">
        <div class="wrap_product_slider">
            <div class="slider_item-main">
                {% for image in merchandise.get_images_list %}
                        <a href="{{ merchandise.images.url }}" data-lightbox="img">
                            <img src="{{ MEDIA_URL }}{{ image.images.url }}" alt="">
                        </a>
                {% endfor %}
            </div>
            <div class="slider_item-nav">
                {% for image in merchandise.get_images_list %}
                    <div class="small_item_slide">
                        <img src="{{ MEDIA_URL }}{{ image.images.url }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="product_description">
            <div class="product_description_text">
                 <h3 class="product_description_title">Описание</h3> <!--доделать описание продукта -->
                <ul>

                </ul>
            </div>
            <div class="product_description_available">
                <h3 class="product_description_title">Наличие</h3>
                <p>В наличии</p>
            </div>
            <div class="product_description_art">
                <h3 class="product_description_title">Артикул</h3>
                <p>А017</p>
            </div>
            <div class="product_description_price">
                <h3 class="product_description_title">Цена</h3>
                <p>{{ merchandise.price }} руб.</p>
            </div>

            <div class="navigation_count_product">
                <button type="button" id="minus_detail" class="minus_detail">-</button>
                <input type="text" value="1" name="count" class="count_product_detail" id="count_product">
                <button type="button" id="plus_detail" class="plus_detail">+</button>
            </div>
            <div class="product_button_add">
                <button type="button" pk={{ merchandise.id }} data-url="{% url 'add_to_cart_merch' merchandise.id %}" title="Добавить в корзину" name="buy_btn" id="buybtn" class="add_to_basket">
                    Добавить в корзину
                </button>
                <input type="hidden" value="True" name="merch" class="merchandise">
                {% csrf_token %}
                <button type="submit" name="click_btn" id="clickbtn" class="click_btn">
                    Купить в 1 клик
                </button>
            </div>
        </div>
    </div>
    <div class="product_summary">
        <h1 class="product_summary_title garry">{{ merchandise.title }}</h3>
        <p>{{ merchandise.summary }}</p>
    </div>
</div>

{% endblock %}