{% extends 'base_generic.html' %}

{% block content %}
    <h1>Результаты поиска:</h1>

    {% if results %}
        <div class="search-result-list">
            {% for result in results %}
            <div class='search-result'>
                <a href="{{ result.get_absolute_url }}">
                    <img class="thumbnails" src="{{ MEDIA_URL }}{{ result.thumbnail.url }}" alt="">
                    <p class='merch_result-title'>{{ result.title }} {% if result.author %} ({{ result.author }}){% endif %}</p>
                    <p class='merch_result-sum'>{{ result.price }} руб.</p>
                </a>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}